<launch>
    <!-- Allegro Hand config -->
    <arg name="HAND" default="right"/>
    <arg name="HAND_AUTO_CAN" default="true"/>
    <arg name="HAND_CAN_DEVICE" default="/dev/pcanusb1"/>
    <arg name="HAND_PARAMS_DIR" default="$(find allegro_hand_parameters)"/>
    <arg name="HAND_ZEROS" default="$(arg HAND_PARAMS_DIR)/zero.yaml"/>
    <arg name="HAND_CAN_POLLING" default="true"/>

    <!-- xArm config -->
    <arg name="ARM_IP" default="192.168.1.209"/>
    <arg name="ARM_REPORT_TYPE" default="normal"/>

    <include file="$(find arm_controller)/launch/arm_bringup.launch">
        <arg name="HAND" value="$(arg HAND)"/>
        <arg name="HAND_AUTO_CAN" value="$(arg HAND_AUTO_CAN)"/>
        <arg name="HAND_CAN_DEVICE" value="$(arg HAND_CAN_DEVICE)"/>
        <arg name="HAND_PARAMS_DIR" value="$(arg HAND_PARAMS_DIR)"/>
        <arg name="HAND_ZEROS" value="$(arg HAND_ZEROS)"/>
        <arg name="HAND_CAN_POLLING" value="$(arg HAND_CAN_POLLING)"/>
        <arg name="ARM_IP" value="$(arg ARM_IP)"/>
        <arg name="ARM_REPORT_TYPE" value="$(arg ARM_REPORT_TYPE)"/>
    </include>

    <node name="handover_demo"
        pkg="handover_demo"
        type="teleop.py"
        output="screen"
        required="true"/>
</launch>